* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}

.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}

button {
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  margin: 2px;

  cursor: pointer;
}

/* NAV */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* STUDENLIST  */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background: rgb(230, 230, 230);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 25px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.stud_wrap:hover {
  background: grey;
  color: white;
  cursor: pointer;
}

.image {
  padding: 0px;
}
.image img {
  height: 100%;
}

#table_wrapper {
  height: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
}
/* MODAL */

#modal_wrapper {
  background: rgba(0, 0, 0, 0.856);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
}

.modal_con {
  position: relative;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  opacity: 1;
  top: 25%;
  padding: 10px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.465);
}

.modal_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;

  border-radius: 2px;
  border: solid 3px rgba(128, 128, 128, 0.404);
}
.details_con {
  padding-left: 20px;
  display: grid;
  grid-template-rows: 50px 50px 1fr;
}

.details_con > * {
  padding-top: 10px;
  font-family: "Satisfy", cursive;
  font-size: 0.8em;
  z-index: 2;
}

.modal_fullname,
.modal_house,
.modal_blood {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.5em;
}

.expel_but_con {
  display: grid;
}
.expel_but {
  align-self: flex-end;
  margin: 0px 20px 10px 0px;
  height: 50px;
  font-family: "Satisfy", cursive;
  text-transform: capitalize;
  background: goldenrod;

  font-size: 1.5em;
}
.expel_but:hover {
  background: darkred;
  transition: 0.1s ease-in-out;
  color: white;
  text-decoration: underline;
}

.modal_img_con {
  background: rgba(128, 128, 128, 0.404);
  height: 100%;
  display: grid;
}

.modal_img {
  width: 200px;
  align-self: center;
  position: relative;
  margin: 0 auto;
}

.modal_close {
  position: absolute;
  left: -17px;
  top: -25px;
  background: none;
  color: wheat;
  border: 5px solid rgba(255, 255, 255, 0.404);
  border-radius: 0px;
  padding: 2px 50px 50px 5px;
  z-index: -1;
  font-weight: 900;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  font-family: "Satisfy", cursive;
  /* font-family: "Nanum Myeongjo", serif; */
}
.modal_close:hover {
  background: rgba(200, 152, 30, 0.87);
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
  color: rgb(112, 33, 33);
  text-decoration: underline;
  border-radius: 2px;
  font-size: 0.9em;
  left: -32px;
  top: -36px;
}

.house_crest {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: 1;
}

.inquis_but_con {
  display: grid;
}

.inquis_but {
  align-self: flex-end;
  margin: 0px 20px 10px 0px;
  height: 60px;
  font-family: "Satisfy", cursive;
  text-transform: capitalize;
  background: rgb(1, 17, 2);
  color: white;
  font-size: 1.2em;
}

.inquis_but:hover {
  background: rgb(4, 46, 32);
  transition: 0.1s ease-in-out;
  color: rgb(115, 241, 153);
  text-decoration: underline;
}

.secondary_lists_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
