* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}

.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}

button {
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  margin: 2px;

  cursor: pointer;
}

/* NAV */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* STUDENLIST  */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 25px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.stud_wrap:hover {
  background: grey;
  color: white;
  cursor: pointer;
}

.image {
  padding: 0px;
}
.image img {
  height: 100%;
}

/* MODAL */

#modal_wrapper {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
}

.modal_con {
  position: relative;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  opacity: 1;
  top: 25%;
  padding: 10px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;

  border-radius: 2px;
  border: solid 3px rgba(128, 128, 128, 0.404);
}
.details_con {
  padding-left: 20px;
}

.details_con > * {
  padding-top: 10px;
  font-family: "Satisfy", cursive;
  font-size: 0.8em;
}

.modal_fullname,
.modal_house {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.5em;
}

.modal_img_con {
  background: rgba(128, 128, 128, 0.404);
  height: 100%;
  display: grid;
}

.modal_img {
  width: 200px;
  align-self: center;
  position: relative;
  margin: 0 auto;
}

.modal_close {
  position: absolute;
  left: -17px;
  top: -25px;
  background: none;
  color: wheat;
  border: 5px solid rgba(255, 255, 255, 0.404);
  border-radius: 0px;
  padding: 2px 50px 50px 2px;
  z-index: -1;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}
.modal_close:hover {
  background: rgba(212, 18, 18, 0.753);
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
  left: -32px;
  top: -36px;
}
